{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Listado de Mensajes{% endblock %}
{% block content %}
	<div class="text-center">
		<h1>Listado de Mensajes</h1><br/>
		<form action="" method="get">
			<div class="row">
				<div class="col-md-5">
					{{ filter.form.username.label }}
					{{ filter.form.username }}		
				</div>
				<div class="col-md-7">
					{{ filter.form.rango_fecha.label }}
					<div class="form-inline d-flex justify-content-center">
						{{ filter.form.rango_fecha }}
					</div>
				</div>

			</div><br/>
	        <button class="btn btn-primary" type="submit">Buscar</button>
	    </form><br/>
		{% if object_list %}
			<table class="table table-responsive table-striped">
				<thead>
					<tr >
						<th class="text-center">Nombre de Usuario</th>
						<th class="text-center">Mensaje</th>
						<th class="text-center">Fecha</th>
					</tr>
				</thead>
				<tbody>
					{% for object in object_list %}
						<tr>
							<td>{{ object.usuario.user.username }}</td>
							<td>{{ object.mensaje }}</td>
							<td>{{ object.fecha }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% include 'base.paginator.html' with paginator=page_obj %}
		{% else %}
		    <div class="alert alert-warning" role="alert">
	            No se encontraron registros de Mensajes 
	        </div>
		{% endif %}
	</div>
{% endblock %}
{% block extraJs %}
	<script type="text/javascript">
	$('#id_rango_fecha_0').datepicker({
	    format: 'yyyy-mm-dd',
	    language: 'es'
	});
	$('#id_rango_fecha_1').datepicker({
	    format: 'yyyy-mm-dd',
	    language: 'es'
	});
	</script>
{% endblock %}